*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: var(--gris);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
/*
font-family: 'Lato', sans-serif; 
font-family: 'Oswald', sans-serif;
*/
:root{
  --gris: #707070;
  --rojo: #ec606a;
  --fondogris: #f3f3f3;
  --rojofuerte: #df3945;
  --rojobajo: #eac8c2;
}

.ancho{
  max-width: 1200px;
  margin: auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

header img{
  width: 250px;
}

.info{
  display: flex;
  align-items: center;
}

.info i{
  font-size: 25px;
  color: var(--rojo);
  padding: 10px;
  border-radius: 50%;
  background-color: var(--fondogris);
  margin-right: 20px;
}

.info div{
  width: 200px;
}

nav{
  background-color: var(--rojo);
}

#menu{
  font-size: 25px;
  display: none;
}

nav ul img {
  display: none;
}

nav ul .info {
  display: none;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px;
  transition: all .3s;
}

nav ul li a:hover{
  background-color: var(--rojobajo);
}

.imagen_fondo{
  position: relative;
}

.imagen_fondo img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.texto_fondo{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  z-index: 1;
}

.texto_fondo h1{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

.vinculos{
  display: flex;
  align-items: center;
}

.vinculos a{
  text-decoration: none;
  color: var(--rojo);
}

.vinculos i{
  margin: 0px 20px;
}
.seccion_equipo{
  padding: 30px 0px;
}

.seccion_equipo article{
  display: flex;
  margin-bottom: 40px;
}

.contenido_perfil{
  width: 30%;
}

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil img{
  width: 100%;
  border: 10px white solid;
  box-shadow: 0px 0px 10px var(--gris);
  margin-bottom: 30px;
  cursor: pointer;
}

.perfil h3{
  color: var(--rojo);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.perfil .redes i{
  background-color: var(--fondogris);
}


.certificados h3{  
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}

.certificados hr{
  border: none;
  height: 1px;
  background-color: var(--gris);
  margin-bottom: 20px;
}

.certificados div{
  display: flex;
  flex-wrap: wrap;
}

.certificados img{
  width: 40%;
  margin: 10px;
}

.contenido_habilidades{
  width: 70%;
  padding-left: 50px;
  display: none;
}

.informacion{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.informacion div h4{
  font-size: 20px;
}

.informacion div:nth-last-child(1){
  width: 50%;
}

.habilidades h4{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;

}

.habilidades p{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;

}

.habilidades hr{
  border: none;
  height: 1px;
  background-color: var(--gris);
  margin: 10px 0px 30px 0px;
}

.habilidades div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.porcentaje{
  color: var(--rojo);
}

.barra{
  display: block;
  background-color: var(--fondogris);
  height: 10px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 40px;
}

.barra span{
  height:10px;
  float: left;
  background-color: var(--rojo);
  border-radius: 30px;
}

.cirugia_reconstructiva{
  width: 50%;
  animation: cirugia_reconstructiva 2s;
}

.cirugia_cosmetica{
  width: 20%;
  animation: cirugia_cosmetica 2s;
}

.contorno_corporal{
  width: 87%;
  animation: contorno_corporal 2s;
}

.cirugia_plastica{
  width: 37%;
  animation: cirugia_plastica 2s;
}

@keyframes cirugia_reconstructiva{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

@keyframes cirugia_cosmetica{
  0%{
    width: 0%;
  }
  100%{
    width: 20%;
  }
}

@keyframes contorno_corporal{
  0%{
    width: 0%;
  }
  100%{
    width: 87%;
  }
}

@keyframes cirugia_plastica{
  0%{
    width: 0%;
  }
  100%{
    width: 37%;
  }
}





footer{
  background-color: var(--fondogris);
  padding: 30px 0px;
}

footer section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_izq img{
  width: 200px;
}

.footer_izq{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes{
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.redes i{
  font-size: 20px;
  color: var(--gris);
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

.contacto{
  padding: 17px 50px;
}

.contacto h4{
  color: var(--rojo);
  font-family: 'Oswald', sans-serif;
}

.contacto hr{
  width: 400px;
}

.contacto div {
  display: flex;
  margin-top: 30px;
}

.contacto div i{
  color: var(--rojo);
  font-size: 25px;
  margin-right: 20px;
}

.contacto div a{
  display: inline-block;
  text-decoration: none;
  color: var(--rojo);
}

.btn_funcion{
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background-color: var(--rojo);
  position: fixed;
  z-index: 100;
  cursor: pointer;
}

#flecha{
  bottom: 10px;
  right: 10px;
}

#btnmodal{
  bottom: 10px;
  left: 10px;
  box-shadow: 0px 0px 5px var(--rojo);
}

.fondo_modal{
  display: none;
  position: fixed;
  z-index: 100000000;;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .8);
}

.contenido{
  background: linear-gradient(to bottom,
  rgba(223, 57, 69, 1),
  rgba(236, 96, 106, 1),
  rgba(234, 200, 194, 1)
  );
  padding: 100px 20px;
  width: 50%;
  height: 60%;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.contenido h2{
  font-size: 50px;
  margin-bottom: 100px;
}

.contenido p{
  font-size: 30px;
}

.cerrar{
  cursor: pointer;
  color: white;
  font-size: 26px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all .4s;
}

.cerrar:hover{
  color: black;
}

.estrella{
  width: 70px;
  height: 70px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  position: absolute;
  top: 20%;
  z-index: 1000;
  background-color: white;
}

.izq{
  left: 10%;
}

.der{
  right: 10%;
}