:root{
  --gris: #707070;
  --rojo: #ec606a;
  --fondogris: #f3f3f3;
  --rojofuerte: #df3945;
  --rojobajo: #eac8c2;
}

@media screen and (max-width: 900px){

  .seccion_equipo{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seccion_equipo article{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .contenido_perfil{
    width: 100%;
    margin-bottom: 20px;
  }

  .certificados{
    display: none;
  }

  .contenido_habilidades{
    width: 100%;
    padding-left: 0px;
  }

  .informacion{
    flex-direction: column;
  }

  .informacion div:nth-last-child(1){
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (min-width:500px) and (max-width: 1024px){
  .seccion_equipo{
    padding: 30px 20px;
  }

  .seccion_equipo article{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contenido_perfil{
    width: 30%;
  }

  .contenido_habilidades{
    width: 65%;
  }

}
