:root{
  --gris: #707070;
  --rojo: #ec606a;
  --fondogris: #f3f3f3;
  --rojofuerte: #df3945;
  --rojobajo: #eac8c2;
}

@media screen and (max-width: 900px){

  .seccion_servicios{
    border: 1px red solid;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    height: 1100px;
  }

  .menutabs{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: none;
    border-bottom: 1px var(--gris) solid;
  }

  .menutabs .link{
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    border: 1px blue solid;
  }

  .servicios{
    padding: 0px;
    width: 100%;
  }

  .servicios .contenido_item{
    border: 1px green solid;
    width: 100%;
    padding: 0px;
  }

  .seccion_galeria article{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .foto{
    width: 90%;
    height: 320px;
    margin-bottom: 20px;
  }

  .info2{
    top: 0;
  }
}

@media screen and (min-width:901px) and (max-width: 1190px){
  .foto{
    width: 30%;
  }

  .info2{
    top: 0;
  }

}